/* Type whatever CSS you need here! */

.studentPresent {
    background-color: greenyellow;
}

.studentAbsent {
    background-color: red;
}

.studentRollContainer {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.studentContainer {
    height: 75px;
    width: 175px;
    border: 1px solid black;
    margin: 5px;
}

.studentNameText {
    margin: 0;
    font-size: 2em;
}

.restaurantCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.restaurantCard {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.restaurantName {
    margin: 0;
    font-weight: bold;
}

.restaurantType {
    margin: 0;
    font-size: .75em;
}

.restaurantPriceRating {
    color: green;
    font-weight: bold;
    font-size: 1.5em
}

.movieCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightgray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    max-width: 600px;
}

.moviePoster {
    width: 150px;
}

.movieInfo {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 360px;
}

.movieTitle {
    margin: 0;
}

.movieYear {
    font-size: .75em;
}

.noTextMargin {
    margin: 0;
}

.tweetCard {
    display: flex;
    max-width: 450px;
    border: 1px solid black;
    flex-direction: column;
    margin: 20px;
    padding: 10px 20px;
}

.twitterUserHeader {
    display: flex;
}

.twitterProfilePic {
    width: 50px;
}

.twitterUserName {
    margin: 0;
    font-weight: bold;
}

.twitterHandle {
    font-size: .75em;
}

.tweetFooter {
    font-size: .75em;
    padding: 2px;
    height: 25px;
}

.tweetFooterPadding {
    padding-right: 15px;
}

.albumCover {
    width: 75px;
    padding-right: 10px;
}

.albumTitle {
    display: flex;
    align-items: baseline;
}

.trackNameContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.playButton {
    padding: 0px 20px;
}

#albumTitle {
    border-bottom: 1px solid black;
}